<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnalogClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnalogClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnalogClock.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClockDigitsColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ClockShowDigits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClockTransparent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SettingsOnRight" serializeAs="String">
                <value>False</value>
            </setting>
        </AnalogClock.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AnalogClock.Properties.Settings>
            <setting name="DefaultBackgroundColor" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="DefaultCloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultMinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultClockDigitsColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultClockShowDigits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultClockTransparent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSaveLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSettingsOnRight" serializeAs="String">
                <value>False</value>
            </setting>
        </AnalogClock.Properties.Settings>
    </applicationSettings>
</configuration>